
div{
	background-color: rgb(255, 255, 255);
	margin: 10px;
	width: 25%
}

h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}


div.header, div.instructions{
	width: 80%;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 25%;
	height: 60px;
}
.userTotal{
	width: 25%;
	height: 60px;
}

.gemImage{
	height: 50px;
	margin: 1px;
}

